<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Here is the puppy!</title>
 </head>
 <body>

  <h2>Puppy Name: <%=@puppy.name%></h2>
  <h2>Puppy Breed: <%=@puppy.breed%></h2>
  <h2>Puppy Age: <%=@puppy.age%> months</h2>
  <!-- <p>Puppy Name:<br><%=params[:name]%></p>
  <p>Puppy Breed:<br><%=params[:breed]%></p>
  <p>Puppy Age:<br><%=params[:age]%></p> -->

 </body>
</html>
